<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{../static/login.css}" rel="stylesheet" /></head>
<body>

<div class="login-container">
    <h2>Login</h2>

    <form action="auth/authorization" th:action="@{auth/authorization}" th:object="${dto}" method="POST">

        <label>
            <input type="text" th:field="*{email}" placeholder="email" class="form-control mb-4 col-4">
        </label>

        <label>
            <input type="password" th:field="*{password}" placeholder="password" class="form-control mb-4 col-4">
        </label>

        <input type="submit" class="btn btn-info col-2" value="Login">
    </form>

</div>

</body>
</html>